# givtignore forpython and env file\
# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/

# Ignore environment files
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
.DS_Store